.sparkle {
  position: relative;
  z-index: 1;
}
.sparkle::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/sparkle.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -28px;
  right: -8px;
  z-index: 0;
  image-rendering: pixelated;
  animation: sparkle 1s infinite;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.sparkle::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/sparkle.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -28px;
  left: 0px;
  z-index: 0;
  image-rendering: pixelated;
  animation: sparkle 1s infinite;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes sparkle {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px white);
  }
  100% {
    transform: scale(1.5);
    filter: drop-shadow(0 0 4px white);
  }
}

/* Additional styles for animated background */
.animated-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(20, 20, 20, 0.2), rgba(0, 0, 0, 0.2));
  background-size: 400% 400%;
  z-index: 0;
  pointer-events: none;
  animation: bgShift 20s ease infinite;
  opacity: 0.6;
}

@keyframes bgShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
